#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-fields {
  display: flex;
  gap: 10px;
}

.btn-cont {
  display: flex;
  gap: 20px;
  margin: 10px auto;
  justify-content: center;
}